header
	.content.content_flex
		a(href="/").logo
			img(src="./static/img/general/logo.png")
		.tel
			span ТЕЛЕФОН ГОРЯЧЕЙ ЛИНИИ
			a(href="tel:88007001178") 8 800 700 11 78
		.block-right
			.serch
				input(type="text" placeholder="Поиск по сайту...")
			a(href="#").basket.js-basket
				img(src="./static/img/general/path.png")
				.basket__count 1




