extends ../layout/main

block title
	| Главная страница

block content
	.container
		.slider.js-slider
			img(src="./static/img/general/slide.jpg")
			img(src="./static/img/general/slide.jpg")
			img(src="./static/img/general/slide.jpg")

	section.info-text.color-gray
		.content
			span.title Капельные и рожковые кофеварки
			.subtitle Кофеварка — незаменимый резидент на кухне у кофеманов. Кофеварки POLARIS представлены в следующих типах:
			ul.list
				li Рожковая — позволяет приготовить настоящий эспрессо в домашних или офисных условиях.
				li Капельная — для приготовления напитка через фильтр с молотым кофе медленно проходит горячая вода.
				li Капсульная (3 в 1) — позволит использовать кофейные капсулы разных типов (Nespresso, Dolce Gusto и т.п.)
	section.settings
		.content.content_flex
			.block-sett
				.block-sett__new новинка
					.block-sett__new-icon
						span
						span
						span
				.block-sett__item.block-sett__list
					span
					span
					span
				.block-sett__item.block-sett__grid.bg-blue
					span
					span
					span
					span
	section
		.content
			.main-cont
				.catalog
					.catalog-item
						img(src="./static/img/general/model.png")
						.line
						.catalog-item__name Кофеварка Polaris <br>
							| PCM 0613A
						.catalog-item__price 1 799 ₽
						.catalog-item__list
							li - Тип: Капельная
							li - Мощность, Вт: 550 Вт
							li - Противокапельная система
						.catalog-item__btn Купить в один клик
						.catalog-item__btn.catalog-item__btn_black Купить в один клик
					.catalog-item
						img(src="./static/img/general/model.png")
						.line
						.catalog-item__name Кофеварка Polaris <br>
							| PCM 0613A
						.catalog-item__price 1 799 ₽
						.catalog-item__list
							li - Тип: Капельная
							li - Мощность, Вт: 550 Вт
							li - Противокапельная система
						.catalog-item__btn Купить в один клик
						.catalog-item__btn.catalog-item__btn_black Купить в один клик
					.catalog-item
						img(src="./static/img/general/model.png")
						.line
						.catalog-item__name Кофеварка Polaris <br>
							| PCM 0613A
						.catalog-item__price 1 799 ₽
						.catalog-item__list
							li - Тип: Капельная
							li - Мощность, Вт: 550 Вт
							li - Противокапельная система
						.catalog-item__btn Купить в один клик
						.catalog-item__btn.catalog-item__btn_black Купить в один клик

				.filter

