extends ../layout/main

block title
	| Главная страница

block content
	.container
		.slider.js-slider
			img(src="./static/img/general/slide.jpg")
			img(src="./static/img/general/slide.jpg")
			img(src="./static/img/general/slide.jpg")

	section.info-text.color-gray
		.content
			span.title Капельные и рожковые кофеварки
			.subtitle Кофеварка — незаменимый резидент на кухне у кофеманов. Кофеварки POLARIS представлены в следующих типах:
			ul.list
				li Рожковая — позволяет приготовить настоящий эспрессо в домашних или офисных условиях.
				li Капельная — для приготовления напитка через фильтр с молотым кофе медленно проходит горячая вода.
				li Капсульная (3 в 1) — позволит использовать кофейные капсулы разных типов (Nespresso, Dolce Gusto и т.п.)
	section.settings
		.content.content_flex
			.block-sett
				.block-sett__new новинка
					.block-sett__new-icon
						span
						span
						span
				.block-sett__item.block-sett__list
					span
					span
					span
				.block-sett__item.block-sett__grid.bg-blue
					span
					span
					span
					span
	.container
		.content.content_flex
			.show-filter
				span Показать фильтр
	.container
		.content
			.main-cont
				.catalog
					.catalog-item
						img(src="./static/img/general/shild-like.png").shild-like.shild
						a(href="./detail.html").catalog-item__cont.mfp-ajax.js-popup-modal
							.catalog-item__img
								img(src="./static/img/general/model.png")
							.line
							.catalog-item__name Кофеварка Polaris
								| PCM 0613A
							.catalog-item__price 1 799 ₽
							.catalog-item__list
								li - Тип: Капельная
								li - Мощность, Вт: 550 Вт
								li - Противокапельная система
						.btn.catalog-item__btn.js__pop-oneclick(data-header="Кофеварка Polaris PCM 0613A") Купить в один клик
						.btn.catalog-item__btn.btn_black.js__pop-add(data-header="Кофеварка Polaris PCM 0613A") Добавить в корзину
					.catalog-item
						img(src="./static/img/general/shild-like.png").shild-like.shild
						.catalog-item__cont
							.catalog-item__img
								img(src="./static/img/general/model.png")
							.line
							.catalog-item__name Кофеварка Polaris
								| PCM 0613A
							.catalog-item__price 1 799 ₽
							.catalog-item__list
								li - Тип: Капельная
								li - Мощность, Вт: 550 Вт
								li - Противокапельная система
						.btn.catalog-item__btn.js__pop-oneclick(data-header="Кофеварка Polaris PCM 0613A") Купить в один клик
						.btn.catalog-item__btn.btn.btn_black.js__pop-add(data-header="Кофеварка Polaris PCM") Добавить в корзину
					.catalog-item
						img(src="./static/img/general/shild-like.png").shild-like.shild
						img(src="./static/img/general/shild-new.png").shild-new.shild
						img(src="./static/img/general/shild-sale.png").shild-sale.shild
						.catalog-item__cont
							.catalog-item__img
								img(src="./static/img/general/model.png")
								.sale
									span -40%
							.line
							.catalog-item__name Кофеварка Polaris 0613A
							.catalog-item__price
								strike 2 980 ₽
								span &nbsp; 1 799 ₽
							.catalog-item__list
								li - Тип: Капельная
								li - Мощность, Вт: 550 Вт
								li - Противокапельная система
						.btn.catalog-item__btn.js__pop-oneclick(data-header="Кофеварка Polaris PCM 0613A") Купить в один клик
						.btn.catalog-item__btn.btn.btn_black.js__pop-add(data-header="Кофеварка Polaris PCM 0613A") Добавить в корзину
					.catalog-item
						img(src="./static/img/general/shild-like.png").shild-like.shild
						.catalog-item__cont
							.catalog-item__img
								img(src="./static/img/general/model.png")
							.line
							.catalog-item__name Кофеварка Polaris
								| PCM 0613A
							.catalog-item__price 1 799 ₽
							.catalog-item__list
								li - Тип: Капельная
								li - Мощность, Вт: 550 Вт
								li - Противокапельная система
						.btn.catalog-item__btn.js__pop-oneclick(data-header="Кофеварка Polaris PCM 0613A") Купить в один клик
						.btn.catalog-item__btn.btn.btn_black.js__pop-add(data-header="Кофеварка Polaris PCM 0613A") Добавить в корзину
					.catalog-item
						img(src="./static/img/general/shild-like.png").shild-like.shild
						.catalog-item__cont
							.catalog-item__img
								img(src="./static/img/general/model.png")
							.line
							.catalog-item__name Кофеварка Polaris
								| PCM 0613A
							.catalog-item__price 1 799 ₽
							.catalog-item__list
								li - Тип: Капельная
								li - Мощность, Вт: 550 Вт
								li - Противокапельная система
						.btn.catalog-item__btn.js__pop-oneclick(data-header="Кофеварка Polaris PCM 0613A") Купить в один клик
						.btn.catalog-item__btn.btn.btn_black.js__pop-add(data-header="Кофеварка Polaris PCM 0613A") Добавить в корзину
					.catalog-item
						img(src="./static/img/general/shild-like.png").shild-like.shild
						.catalog-item__cont
							.catalog-item__img
								img(src="./static/img/general/model.png")
							.line
							.catalog-item__name Кофеварка Polaris
								| PCM 0613A
							.catalog-item__price 1 799 ₽
							.catalog-item__list
								li - Тип: Капельная
								li - Мощность, Вт: 550 Вт
								li - Противокапельная система
						.btn.catalog-item__btn.js__pop-oneclick(data-header="Кофеварка Polaris PCM 0613A") Купить в один клик
						.btn.catalog-item__btn.btn.btn_black.js__pop-add(data-header="Кофеварка Polaris PCM 0613A") Добавить в корзину
					.catalog-item
						img(src="./static/img/general/shild-like.png").shild-like.shild
						.catalog-item__cont
							.catalog-item__img
								img(src="./static/img/general/model.png")
							.line
							.catalog-item__name Кофеварка Polaris
								| PCM 0613A
							.catalog-item__price 1 799 ₽
							.catalog-item__list
								li - Тип: Капельная
								li - Мощность, Вт: 550 Вт
								li - Противокапельная система
						.btn.catalog-item__btn.js__pop-oneclick(data-header="Кофеварка Polaris PCM 0613A") Купить в один клик
						.btn.catalog-item__btn.btn.btn_black.js__pop-add(data-header="Кофеварка Polaris PCM 0613A") Добавить в корзину
					.catalog-item
						img(src="./static/img/general/shild-like.png").shild-like.shild
						.catalog-item__cont
							.catalog-item__img
								img(src="./static/img/general/model.png")
							.line
							.catalog-item__name Кофеварка Polaris
								| PCM 0613A
							.catalog-item__price 1 799 ₽
							.catalog-item__list
								li - Тип: Капельная
								li - Мощность, Вт: 550 Вт
								li - Противокапельная система
						.btn.catalog-item__btn.js__pop-oneclick(data-header="Кофеварка Polaris PCM 0613A") Купить в один клик
						.btn.catalog-item__btn.btn.btn_black.js__pop-add(data-header="Кофеварка Polaris PCM 0613A") Добавить в корзину
					.catalog-item
						img(src="./static/img/general/shild-like.png").shild-like.shild
						img(src="./static/img/general/shild-new.png").shild-new.shild
						img(src="./static/img/general/shild-sale.png").shild-sale.shild
						.catalog-item__cont
							.catalog-item__img
								img(src="./static/img/general/model.png")
							.line
							.catalog-item__name Кофеварка Polaris
								| PCM 0613A
							.catalog-item__price 1 799 ₽
							.catalog-item__list
								li - Тип: Капельная
								li - Мощность, Вт: 550 Вт
								li - Противокапельная система
						.btn.catalog-item__btn.js__pop-oneclick(data-header="Кофеварка Polaris PCM 0613A") Купить в один клик
						.btn.catalog-item__btn.btn.btn_black.js__pop-add(data-header="Кофеварка Polaris PCM 0613A") Добавить в корзину
					.catalog-item
						img(src="./static/img/general/shild-like.png").shild-like.shild
						.catalog-item__cont
							.catalog-item__img
								img(src="./static/img/general/model.png")
							.line
							.catalog-item__name Кофеварка Polaris
								| PCM 0613A
							.catalog-item__price 1 799 ₽
							.catalog-item__list
								li - Тип: Капельная
								li - Мощность, Вт: 550 Вт
								li - Противокапельная система
						.btn.catalog-item__btn.js__pop-oneclick(data-header="Кофеварка Polaris PCM 0613A") Купить в один клик
						.btn.catalog-item__btn.btn.btn_black.js__pop-add(data-header="Кофеварка Polaris PCM 0613A") Добавить в корзину
					.catalog-item
						img(src="./static/img/general/shild-like.png").shild-like.shild
						.catalog-item__cont
							.catalog-item__img
								img(src="./static/img/general/model.png")
							.line
							.catalog-item__name Кофеварка Polaris
								| PCM 0613A
							.catalog-item__price 1 799 ₽
							.catalog-item__list
								li - Тип: Капельная
								li - Мощность, Вт: 550 Вт
								li - Противокапельная система
						.btn.catalog-item__btn.js__pop-oneclick(data-header="Кофеварка Polaris PCM 0613A") Купить в один клик
						.btn.catalog-item__btn.btn.btn_black.js__pop-add(data-header="Кофеварка Polaris PCM 0613A") Добавить в корзину
					.catalog-item
						img(src="./static/img/general/shild-like.png").shild-like.shild
						.catalog-item__cont
							.catalog-item__img
								img(src="./static/img/general/model.png")
							.line
							.catalog-item__name Кофеварка Polaris
								| PCM 0613A
							.catalog-item__price 1 799 ₽
							.catalog-item__list
								li - Тип: Капельная
								li - Мощность, Вт: 550 Вт
								li - Противокапельная система
						.btn.catalog-item__btn.js__pop-oneclick(data-header="Кофеварка Polaris PCM 0613A") Купить в один клик
						.btn.catalog-item__btn.btn.btn_black.js__pop-add(data-header="Кофеварка Polaris PCM 0613A") Добавить в корзину

					.show-more
						span еще 12
						span.fa.fa-angle-down
					.catalog-item.hide
						img(src="./static/img/general/shild-like.png").shild-like.shild
						.catalog-item__cont
							.catalog-item__img
								img(src="./static/img/general/model.png")
							.line
							.catalog-item__name Кофеварка Polaris
								| PCM 0613A
							.catalog-item__price 1 799 ₽
							.catalog-item__list
								li - Тип: Капельная
								li - Мощность, Вт: 550 Вт
								li - Противокапельная система
						.btn.catalog-item__btn.js__pop-oneclick(data-header="Кофеварка Polaris PCM 0613A") Купить в один клик
						.btn.catalog-item__btn.btn.btn_black.js__pop-add(data-header="Кофеварка Polaris PCM 0613A") Добавить в корзину
					.catalog-item.hide
						img(src="./static/img/general/shild-like.png").shild-like.shild
						.catalog-item__cont
							.catalog-item__img
								img(src="./static/img/general/model.png")
							.line
							.catalog-item__name Кофеварка Polaris
								| PCM 0613A
							.catalog-item__price 1 799 ₽
							.catalog-item__list
								li - Тип: Капельная
								li - Мощность, Вт: 550 Вт
								li - Противокапельная система
						.btn.catalog-item__btn.js__pop-oneclick(data-header="Кофеварка Polaris PCM 0613A") Купить в один клик
						.btn.catalog-item__btn.btn.btn_black.js__pop-add(data-header="Кофеварка Polaris PCM 0613A") Добавить в корзину
					.catalog-item.hide
						img(src="./static/img/general/shild-like.png").shild-like.shild
						img(src="./static/img/general/shild-new.png").shild-new.shild
						img(src="./static/img/general/shild-sale.png").shild-sale.shild
						.catalog-item__cont
							.catalog-item__img
								img(src="./static/img/general/model.png")
							.line
							.catalog-item__name Кофеварка Polaris
								| PCM 0613A
							.catalog-item__price 1 799 ₽
							.catalog-item__list
								li - Тип: Капельная
								li - Мощность, Вт: 550 Вт
								li - Противокапельная система
						.btn.catalog-item__btn.js__pop-oneclick(data-header="Кофеварка Polaris PCM 0613A") Купить в один клик
						.btn.catalog-item__btn.btn.btn_black.js__pop-add(data-header="Кофеварка Polaris PCM 0613A") Добавить в корзину

				form.filter
					.filter-item
						.filter-item__title  Цена
						.filter-item__cont.filter-item__price
							.range-slider
								p
									input(type='number', value='999', min='999', max='18999')
									|    -
									input(type='number', value='18999', min='999', max='18999')
									span руб.
								input(value='999', min='999', max='18999', step='100', type='range')
								input(value='18999', min='999', max='18999', step='100', type='range')

					.filter-item
						.filter-item__title  Мощность, Вт
						.filter-item__cont.filter-item__power
							.filter-item__checkbox
								input(type="checkbox" id="box1" name="first")
								label(for="box1") 1050
							.filter-item__checkbox
								input(type="checkbox" id="box2" name="first")
								label(for="box2") 1350
							.filter-item__checkbox
								input(type="checkbox" id="box3" name="first")
								label(for="box3") 350
							.filter-item__checkbox
								input(type="checkbox" id="box4" name="first")
								label(for="box4") 450
							.filter-item__checkbox
								input(type="checkbox" id="box5" name="first")
								label(for="box5") 550
							.filter-item__checkbox
								input(type="checkbox" id="box6" name="first")
								label(for="box6") 750
							.filter-item__checkbox
								input(type="checkbox" id="box7" name="first")
								label(for="box7") 800
							.filter-item__checkbox
								input(type="checkbox" id="box8" name="first")
								label(for="box8") 850
							.filter-item__checkbox
								input(type="checkbox" id="box9" name="first")
								label(for="box9") 900
					.filter-item
						.filter-item__title  Вместимость, кол-во чашек
						.filter-item__cont.filter-item__count
							.filter-item__checkbox
								input(type="checkbox" id="box10" name="first")
								label(for="box10") 1
							.filter-item__checkbox
								input(type="checkbox" id="box11" name="first")
								label(for="box11") 10-12
							.filter-item__checkbox
								input(type="checkbox" id="box12" name="first")
								label(for="box12") 2
							.filter-item__checkbox
								input(type="checkbox" id="box13" name="first")
								label(for="box13") 4
							.filter-item__checkbox
								input(type="checkbox" id="box14" name="first")
								label(for="box14") 5-7
					.filter-item
						.filter-item__title  Съемный поддон
						.filter-item__cont.filter-item__count
							.filter-item__checkbox
								input(type="checkbox" id="box15" name="first")
								label(for="box15") да

					.filter-item
						.filter-item__title  Съемный моющийся фильтр
						.filter-item__cont.filter-item__count
							.filter-item__checkbox
								input(type="checkbox" id="box16" name="first")
								label(for="box16") да
					.filter-item
						.filter-item__title  Индикатор количества воды
						.filter-item__cont.filter-item__count
							.filter-item__checkbox
								input(type="checkbox" id="box17" name="first")
								label(for="box17") да
					.filter-item
						.filter-item__title  Противокапельная система
						.filter-item__cont.filter-item__count
							.filter-item__checkbox
								input(type="checkbox" id="box18" name="first")
								label(for="box18") да
					.filter-item
						.filter-item__title  Хит продаж
						.filter-item__cont.filter-item__count
							.filter-item__checkbox
								input(type="checkbox" id="box19" name="first")
								label(for="box19") да
					.filter-item
						.filter-item__title  Новинка
						.filter-item__cont.filter-item__count
							.filter-item__checkbox
								input(type="checkbox" id="box20" name="first")
								label(for="box20") да
					.filter-item
						.filter-item__title  Итальянская помпа
						.filter-item__cont.filter-item__count
							.filter-item__checkbox
								input(type="checkbox" id="box21" name="first")
								label(for="box21") да

					.filter-item
						.filter-item__title  Давление, бар
						.filter-item__cont.filter-item__count
							.filter-item__checkbox
								input(type="checkbox" id="box22" name="first")
								label(for="box22") 15
							.filter-item__checkbox
								input(type="checkbox" id="box23" name="first")
								label(for="box23") 19
							.filter-item__checkbox
								input(type="checkbox" id="box24" name="first")
								label(for="box24") 4
					.filter-item
						.filter-item__title  Съемный резервуар для воды,л
						.filter-item__cont.filter-item__count
							.filter-item__checkbox
								input(type="checkbox" id="box25" name="first")
								label(for="box25") 1,2
							.filter-item__checkbox
								input(type="checkbox" id="box26" name="first")
								label(for="box26") 1,3
							.filter-item__checkbox
								input(type="checkbox" id="box27" name="first")
								label(for="box27") 1,5
					.filter-item
						.filter-item__title  Подсветка кнопок
						.filter-item__cont.filter-item__count
							.filter-item__checkbox
								input(type="checkbox" id="box28" name="first")
								label(for="box28") да
					.filter-item
						.filter-item__title  Мерная ложка-уплотнитель в подарок
						.filter-item__cont.filter-item__count
							.filter-item__checkbox
								input(type="checkbox" id="box29" name="first")
								label(for="box29") да
					.filter-item
						.filter-item__title  Снят с производства
						.filter-item__cont.filter-item__count
							.filter-item__checkbox
								input(type="checkbox" id="box30" name="first")
								label(for="box30") да
					.filter-item
						button.filter-item__show Показать
						.filter-item__restart Сбросить
	.container.block-text
		.content
			.title Купить кофеварку
			p Все кофеварки POLARIS отличает высокое качество сборки и комплектующих. Приобретая кофеварку для дома или офиса в официальном Интернет-магазине POLARIS а так же у рекомендованых партнеров производителя — Вы всегда будете уверены, что получили качественный продукт из первых рук за лучшую цену.
			p Наслаждайтесь любимым напитком — бодрящим эспрессо, чарующим капучино или нежным латте.
	.container
		.content
			.video
				iframe(width="600" height="300" src="https://www.youtube.com/embed/1pydKENqWL4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)


	.container.color-dark-gray
		.content
			.adv
				.adv-item.adv-item_img
					img(src="./static/img/general/adv1.png")
					.adv-item__info
						.adv-item__title ГАРАНТИЯ И СЕРВИС
						.adv-item__text Гарантийное и сервисное<br> обслуживание
				.adv-item.adv-item_img
					img(src="./static/img/general/adv2.png")
					.adv-item__info
						.adv-item__title ДОСТАВКА
						.adv-item__text Выберите удобный способ доставки
				.adv-item.adv-item_img
					img(src="./static/img/general/adv3.png")
					.adv-item__info
						.adv-item__title ВСЕ ВИДЫ ОПЛАТЫ
						.adv-item__text Оплачивайте банковской картой или наличными
			.rating
				img(src="./static/img/general/logo-f.png")
				.rating__block
					img(src="./static/img/general/rating.png")

	#popup-form-add.form-callback.mfp-hide
		form#form_pop_add(name="add")
			.title_form
			img(src="./static/img/general/basket.png").form-basket
			.block-btn
				a(href="#").btn.btn_blue.js-basket Перейти в корзину
				.btn.btn_blue.js-popup-close Продолжить покупки

	#popup-form-oneclick.form-callback.form-callback_oneclick.mfp-hide
		form#form_pop_oneclick(name="oneclick")
			.form-name купить в один клик
			.title_form
			.form-subtitle Пожалуйста, заполните краткую контактную информацию. Мы свяжемся с Вами в ближайшее время.
			.field
				input(placeholder="*Имя" required).field__control
			.field
				input(placeholder="*Мобильный телефон" required).field__control
			.field
				textarea(placeholder="Комментарий")
			button(type="submit", data-mfp-src="#popup-form-accepted").btn.btn_orange.btn-send.mfp-inline.js-popup-modal Отправить заказ


	#popup-form-accepted.form-callback.form-callback-accepted.mfp-hide
		form#form_pop_accepted(name="accepted")
			.form-name Ваш заказ принят
			span Менеджер с вами свяжется в течение 10 минут
			span Номер вашего заказа - 12345678
			img(src="./static/img/general/arrow.png").form-basket

