.container
	width: 100%

.content
	width: 100%
	max-width: 1186px
	margin: auto
	&_flex
		+flexBlockRow

.title
	+font-size(20px)
	text-transform: uppercase
	color: $mainBlue
	margin-bottom: 30px
	display: block
